<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= property.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= property.longitude %>
  </p>

 <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>
</div>
